/*
    CSS for home page only
*/

p, h1 {
    text-align: center;
}

section {
    margin: 9em auto 12em auto;
}

section h1 {
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
}

.section3 {
    background: white;
    margin-bottom: auto;
}

.salt {
    display: block;
    width: 30%;
    margin: -2em auto 5em auto;
}

.button {
    width: 25%;
    height: 90%;
    margin: 2% auto 5% auto;
    padding: 0.5em 0.5em;
    border-radius: 27px;
    background: #9BDDF3;   
}

.button p{
    display: block;
    margin: 0 auto 0 auto;
    white-space: nowrap;
    text-align: center; 
}

.button p a {
    margin: 0 0;
    padding: 0 0;
    float: center;
    font-size: 0.8em;
    text-decoration: none;
    color: black;
    outline: 0;
}

.button p a:hover {
    color: white;
}

footer {
    background: #FAF5AA;
}